<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{_layout.html}"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Travel Application</title>
  </head>
  <body>
    <div layout:fragment="content" class="container">
      <div class="p-3">
        <div class="card">
          <div class="text-center card-body">
            <div class="row">
              <div class="p-2 col-12">Welcome to the application</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
